recursive-include graspologic/datasets *.edgelist
recursive-include graspologic/datasets *.csv
recursive-include graspologic/version version.txt
recursive-include graspologic/layouts/include colors-100.json
exclude tests/*
